*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Raleway',sans-serif;
}
/*estilo para carrito */
button{
    background-color: transparent;
    border-color: transparent;
}
.unoo{
    padding: 20px;
    grid-column: 1;
    grid-row: 2;
}

.doos{
    padding: 20px;
    grid-column: 2;
    grid-row: 2;
}

.contenedorcar{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 2%;
}

.imagencar{
    width: 100px; /* Ancho de la imagen */
    height: auto; /* Altura automática según la proporción original */
     /* Espacio entre la imagen y el texto */
}

.textocar {
    text-align: left;
}

.numeroscar {
    color: red;
    font-weight: bold; /* Estilo para los números */
}
.texto-rojo {
    color: red;
}

.contenedorcar, .ofer-container {
    text-align: left;
    margin-bottom: 20px;
}

.textocar1 {
    margin-right: 20px;
    text-align: left;
}

.cantidad-form, .resultado-form {
    display: flex;
    align-items: center;
    padding: 20px;
}

.cantidad-control, .resultado-control {
    display: flex;
    align-items: center;
    padding: 20px;
}

.cantidad-control a {
    margin: 0;
    padding: 10px; /* Añade espacio alrededor de los signos - y + */
    color: blue;
    cursor: pointer;
}
#canti {
    width: 40px; /* Ancho reducido */
    height: 20px;
    text-align: center;
    margin: 0 5px;
}

#eliminar {
    width: 70px;
    height: auto;
}
#eliminar img{
    width: 100%;
    height: auto;
}
@media (max-width: 600px) {
    .contenedorcar {
        flex-direction: row; /* Cambia la dirección a fila para mostrar la imagen y el texto en la misma fila */
        align-items: center; /* Alinea los elementos verticalmente al centro */
        display: flex;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no quepan en el ancho disponible */
    }
    
    .imagencar {
        width: 25%; /* La imagen ocupará todo el ancho disponible */
        height: auto;
        margin-right: 0; /* Elimina el margen derecho*/
    }


    .cantidad-form, .resultado-form {
        display: flex; /* Mantiene la disposición en fila */
        align-items: center;
        padding: 10px; /* Reduce el espacio alrededor del formulario */
        padding-left: 25%;
        padding-right: 25%;
    }

    .cantidad-control p {
        padding: 5px; /* Reduce el espacio alrededor de los botones - y + */
    }

    #canti {
        width: 100px; /* Reduce el ancho del campo de cantidad */
        height: 30px;
        text-align: center;
        margin: 0 20px;
    }
    #eliminar {
        width: 70px;
        height: auto;
        margin-left: 50px;
    }
}