#oferta1{
    display: grid;
    place-items: center;
}

.container-carousel {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.carruseles {
    width: 200%;
    height: 100%;
    display: flex;
}

.slider-section {
    width: calc(100% / 2);
    height: 100%;
    margin-left: 120px;
}


.btn-left,
.btn-right {
    color: red;
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 3.5rem;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
    border-radius: 50%;
}

.btn-left:hover,
.btn-right:hover {
    /*background-color: #FFF000;
    color: #fff;*/
    background-color: none;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

@media (max-width: 600px) {
    .container-carousel {
        position: relative;
        width: 500px;
        height: auto;
        overflow: hidden;
    }
    
    .carruseles {
        width: 600%;
        height: 100%;
        display: flex;
    }
}