.contenedor{
    display: grid;
    grid-template-columns: 280px auto;
    grid-template-rows: auto auto;
    grid-gap: 0px;
}
.uno{
    padding-top: 20px;
    grid-column: 2;
    grid-row: 2;
    /*Esta en la fila 2, columna 2*/
}

.dos{
    padding: 20px;
    grid-column: 1;
    grid-row: 2;
    /*Esta donde queda, fila 2, columna1 */
}

#header{
    text-align: center;
    grid-column: 1/span 2;
    grid-row: 1;
    /*Esta en la fila 1, columna 1 y ocupa 2*/
}

#producto h2{
    text-align: center;
}
#producto .prod{
    width: 20%;
    min-width: 125px;
    padding: 10px 12px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 10px 10px 40px #C0C0FF;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#producto .prod:hover{
    box-shadow: 15px 15px 40px #7777ff;
}
#producto .prod img{
    width: 100%;
    border-radius: 20px;
}
#producto .prod .des span{
    color: #7C580A;
    font-size: 12px;
}
#producto .prod .des h4{
    color: #FF0000;
    font-size: 20px;
    text-align: center;
}
.btnAgregarCarrito1{
    text-decoration: none;
    display: block;
    height: inherit;
    margin-top: 5px;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
}