

.fondo{
    padding: 0;
    background-image: url(../imgs/mosaico.jpg);
    background-size: contain;
    display: grid;
    place-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container-servicios{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    /*background-color: rgba(255, 255, 255, 0.3);*/
    border-radius: 50px;
    
}
.container-servicios .Informacion{
    width: 45%;
}
.container-servicios .Formulario{
    width: 55%;
}
.Form{
    padding: 10px;
    text-align: center;
}
.Form input, select{
    width: 225px;
    height: 30px;
    margin: 5px;
}
.Form .Boton{
    width: 100px;
    background-color: #F1BD0E;
    border-radius: 10px;
}
h2{
    text-align: center;
}

@media (max-width: 600px) {
    .container-servicios{
        display: grid;
        grid-column: auto;
        padding: 30px;
        /*background-color: rgba(255, 255, 255, 0.3);*/
        /*border-radius: 50px;*/
        margin: 0 10%
    }
    .container-servicios .Informacion{
        width: 100%;
    }
    .container-servicios .Informacion h2{
        padding-bottom: 20px;
    }
    .container-servicios .Informacion h3{
        padding-bottom: 10px;
    }
    .container-servicios .Informacion h3,p{
        font-size: 20px;
    }
    .container-servicios .Formulario{
        width: 100%;
        margin-top: 20px;
    }
    .Form .Boton{
        width: 200px;
        height: 40px;
        background-color: #F1BD0E;
        border-radius: 10px;
        font-size: 20px;
    }
    .Form input, select{
        width: 250px;
        height: 45px;
        margin: 5px;
    }
}