.fondo{
    padding: 0;
    background-image: url(../imgs/placeholderFondo.jpg);
    display: grid;
    place-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container-servicios{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
    width: 75%;
    border-radius: 50px;
}
.container-servicios .Informacion{
    width: 40%;
}
.container-servicios .Formulario{
    width: 60%;
    margin-left: 40px;
}
.Form{
    padding: 10px;
}
.Form input, select{
    width: 225px;
    height: 30px;
}
.Form .Boton{
    width: 100px;
    background-color: yellow;
    border-radius: 10px;
}