*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Raleway',sans-serif;
}

:root{
    --color-primario:#F1BD0E;
    --color-secundario:#7C580A;
    --tamanio-titulo:700;
    --tamanio-subtitulo:400;
    --tamanio-texto:200;
}

body{
    width: 100%;
}
/*BARA DE NAVEGACIOOOOOOOOOOOOOOON*/
.logo{
    width: 60px;
    height: auto;
    padding-left: 20%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: F5FAFA;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

nav img{
    width: 30px;
    height: auto;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: var(--tamanio-subtitulo);
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: var(--color-secundario);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: var(--color-secundario);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*HEROOOOOOOOOOOO*/
#hero{
    background-color: var(--color-primario);
    height: 90vh;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*seccion ofertas gaaaa*/
#oferta1{
    text-align: center;
}
#oferta1 h2{
    padding: 40px 0;
    font-weight: 700;
    font-size: 30px;
}
.ofer-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    margin: 0px 100px;
}

#oferta1 .ofer{
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 10px 10px 40px var(--color-secundario);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#oferta1 .ofer:hover{
    box-shadow: 10px 10px 40px #503908;
}

#oferta1 .ofer img{
    width: 100%;
    border-radius: 20px;
}
#oferta1 .ofer .des{
    text-align: start;
    padding: 10px 0;
}
#oferta1 .ofer .des span{
    color: var(--color-secundario);
    font-size: 12px;
}
#oferta1 .ofer .des h5{
    padding-top: 7px;
    color: black;
    font-size: 15px;
}
.precio-ofer{
    display: inline-flex;
    align-items: center;
    text-align: center;
}
#oferta1 .ofer .des h6{
    padding-top: 5px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: gray;
}
#oferta1 .ofer .des h4{
    padding-top: 5px;
    font-size: 25px;
    font-weight: 700;
    color: red;
}
.btnAgregarCarrito{
    text-decoration: none;
    display: block;
    height: inherit;
    margin-top: 5px;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: white;
}